body {
    background-image: url("/assets/img/galaxy.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll, local;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: blue;
}

#increment-btn {
    background: purple;
}

#save-btn {
    background: rgb(64, 208, 64);
}

#welcome-el{
    color: white;
}

#save-el{
    color: white;
    backdrop-filter: blur(70px);
}

#name-el{
    color: rgb(255, 255, 255);
}

img{
    height: 5rem;
    width: 5rem;
}

.nike-btn{
    background-color: rgb(58, 58, 230);
    backdrop-filter: blur(70px);
    color: white;
}

#error{
    color: white;
    text-decoration: underline red;
}

#sum-el{
    color: white;
}